@import "../../containers/Root/variables.styl";

.form
  box-sizing border-box
  width 100%
  font-family Arial, "Helvetica Neue", Helvetica, sans-serif

  .column
    box-sizing border-box
    width 100%

  .input
    box-sizing border-box
    width 100%
    font-size inherit
    padding: 20px;
    border: 1px solid borderColor;
    background-color backgroundColor

  .label
    box-sizing border-box
    color #d1d1d1
    display block
    padding: 20px 0;
    font-size 16px


.empty
  padding 20px 0