.container
  font-family: 'Lato', sans-serif;
  display flex
  flex-direction row
  justify-content space-between
  align-items stretch
  overflow hidden
  font-size 16px
  line-height normal
  padding 20px 10px

.title
  font-size 24px
  font-weight bold
  margin: 0;
  padding: 17px 0;
  border-bottom: 1px solid lightgray;

.columnLeft
  box-sizing border-box
  padding 0 10px
  width calc(100%/3)
  height: calc(100vh - 40px);
  overflow-y: scroll;
  overflow-x: hidden;

.columnRight
  box-sizing border-box
  width calc(100% - (100%/3))
  padding 0 10px