@import "../../containers/Root/variables.styl";

.table
  box-sizing border-box
  border 1px solid lightgray
  width 100%
  border-collapse collapse
  user-select none

.row
  &:hover
    background-color backgroundColor

.active
  background-color backgroundColor

.item
  padding 20px
  cursor: pointer
  border 1px solid borderColor
  text-align center

.header
  font-size 18px
  font-weight bold
  color white
  background-color lightblue
  border: 1px solid borderColor

.bold
  font-weight bold


